.km_pipes {height: 100vh;
}
@media (width < 800px) {
    .km_pipes_back-ico {
        font-size: 27px;
        /* color: rgb(29, 105, 247); */
        color: rgb(38, 145, 245);
    }

    .km_pipes {
        margin: 30px 15px 0 15px;
        padding-bottom: 3vh;
    }

    .km_pipes_header {
        font-size: 2rem;
        margin-top: 30px;
    }

    .km_pipes_article {
        font-size: 12px;
        margin-top: 30px;
        margin-left: 2px;
        width: 100%;
    }

    .km_pipes_arcl__bold {
        font-weight: bold;
        color: rgb(38, 145, 245);
    }

    .kmk_pipes_arcl_img {
        width: 100%;
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 35px;
    }

    .km_pipes_flex-section {
        display: flex;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
    }

    .kmk_pipes_arcl_img__portrait {
        width: 35%;
        border-radius: 25px;
        margin-top: 5px;
    }

    .km_pipes_flex-p {
        width: 60%;
    }

}
@media (width > 800px) {
    .km_pipes_back-ico {
        font-size: 35px;
        /* color: rgb(29, 105, 247); */
        color: rgb(38, 145, 245);
    }

    .km_pipes {
        margin: 30px 60px 0 60px;
        padding-bottom: 3vh;
    }

    .km_pipes_header {
        font-size: 4rem;
        margin-top: 30px;
    }

    .km_pipes_article {
        font-size: 18px;
        margin-top: 50px;
        margin-left: 2px;

    }

    .km_pipes_article_sl{
        min-width: 40vw;
        display: flex;
    }
    .km_pipes_arcl__bold {
        font-weight: bold;
        color: rgb(38, 145, 245);
    }

    .kmk_pipes_arcl_img {
        height: 57vh;
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 35px;
    }

    .km_pipes_flex-section {
        display: flex;
        flex-direction: row-reverse;
        margin-top: -52.5vh;
        gap: 25px;
        align-items: center;
        width: 50%;
    }

    .kmk_pipes_arcl_img__portrait {
        width: 30%;
        border-radius: 25px;
        margin-top: 5px;

    }

    .km_pipes_flex-p {
    }

}