@media (width > 800px) {
    .navigation-container {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }


    .nav_header {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: -5px 10vw;

    }

    .nav_name {
        font-family: montserrat-regular;
        font-size: 30px;
        position: relative;
        top: 2px;
        color: #2A7CB4;
    }

    .nav_logo {
        width: 45px;
    }

    .nav_links-group {
        margin: 50px 10vw;
        display: flex;
        gap: 25px;
        align-items: center;
    }



    .nav_link {
        color: rgb(255, 255, 255);
        font-family: montserrat-regular;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }

    .nav_link__active {
        color: rgb(97, 97, 97);
        font-family: montserrat-regular;
        font-size: 16px;

    }

    .nav_link:hover {
        opacity: .7;
        color: rgba(255, 255, 255, 0.932);
    }

    .nav_link_ico {
        font-size: 20px;
        margin-left: 35px;
    }
}

@media (width < 800px) {
    .nav_mobile-ico_btn {
        background-color: transparent;
        color: white;
        border: none;
        font-size: 22px;
        position: fixed;
        right: 10vw;
    }

    .navigation-container {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }


    .nav_header {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 25px 10vw;

    }

    .nav_name {
        font-family: montserrat-regular;
        font-size: 30px;
        position: relative;
        top: 2px;
        color: #2A7CB4;
    }

    .nav_logo {
        width: 45px;
    }

    .nav_links-group {
        display: none;
    }



    .nav_link {
        color: rgb(0, 0, 0);
        font-family: montserrat-regular;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }

    .nav_link__active {
        color: rgb(58, 58, 58);
        font-family: montserrat-regular;
        font-size: 16px;
        cursor: pointer;

    }

    .nav_link:hover,
    .nav_link__active:hover {
        opacity: .7;
        color: rgb(17, 17, 16);
    }

    .nav_link_ico {
        font-size: 20px;
        margin-left: 35px;
    }
}